
<section id="home">
<div class="slider">
  <div class="container2">
    <div class="wrapper">
        <div class="wrapper-holder">
            <div id="slider-img-1"></div>
            <div id="slider-img-2"></div>
            <div id="slider-img-3"></div>
            <div id="slider-img-4"></div>
        </div>
    </div>
    <div class="button-holder">
        <a href="#slider-img-1" class="button"></a>
        <a href="#slider-img-2" class="button"></a>
        <a href="#slider-img-3" class="button"></a>
        <a href="#slider-img-4" class="button"></a>
    </div>
  </div>
  </div>
</section>


<section id="categoria">
  <div class="cards">
   <h1 class="color">Best Sellers</h1>

   <div class="container2">

       <div class="card2">
        <img class="img-cards" src="../../assets/Movies Posters/wicked.jpg" alt="">

        <div class="titulo">
         <h1>Wicked</h1>
         <p>Na Terra de Oz, uma jovem chamada Elphaba forma uma improvável amizade com uma estudante popular chamada Glinda.</p>
        </div>

       </div>

       <div class="card2">
        <img class="img-cards" src="../../assets/Movies Posters/deadpool.png" alt="">

        <div>
         <h1>Deadpool & Wolverine</h1>
         <p>Wolverine está se recuperando quando cruza seu caminho com Deadpool.</p>
        </div>

       </div>

       <div class="card2">
        <img class="img-cards" src="../../assets/Movies Posters/ainda-estou-aqui.jpg" alt="">

        <div>
         <h1>Ainda estou aqui</h1>
         <p>Eunice e seus cinco filhos - vive à beira da praia em uma casa de portas abertas para os amigos. Um dia, Rubens Paiva é levado por militares à paisana e desaparece.</p>
        </div>

       </div>

       <div class="card2">
        <img class="img-cards" src="../../assets/Movies Posters/elemento.jpg" alt="">

        <div>
         <h1>Elementos</h1>
         <p>Em uma cidade onde os habitantes de fogo, água, terra e ar convivem, uma jovem mulher flamejante e um rapaz que vive seguindo o fluxo descobrem algo surpreendente.</p>
        </div>

       </div>

       <div class="card2">
        <img class="img-cards" src="../../assets/Movies Posters/poster-a-substancia.jpg" alt="">
        <div>
         <h1>A Substancia</h1>
         <p>Elisabeth Sparkle, renomada por um programa de aeróbica, enfrenta um golpe devastador quando seu chefe a demite, um laboratório lhe oferece uma substância. </p>
        </div>

       </div>

       <div class="card2">
        <img class="img-cards" src="../../assets/Movies Posters/O menino e a garça.jpg" alt="">
        <div>
          <h1>O Menino e a garça</h1>
          <p>Mahito, um menino de 12 anos, luta para se estabelecer em uma nova cidade após a morte de sua mãe. Quando uma garça conta que sua mãe ainda está viva.</p>
        </div>
       </div>

     </div>


   <h1 class="color">Terror</h1>

   <div class="container2">
       <div class="card2">
        <img class="img-cards" src="../../assets/Movies Posters/smile.jpg" alt="">

        <div>
          <h1>Smile</h1>
          <p>Após um paciente cometer um suicídio brutal em sua frente, a psiquiatra Rose é perseguida por uma entidade maligna que muda de forma.</p>
        </div>

       </div>

       <div class="card2">
        <img class="img-cards" src="../../assets/Movies Posters/Smile-2.jpg" alt="">

        <div>
          <h1>Smile 2</h1>
          <p>Skye Riley começa a experimentar eventos cada vez mais aterrorizantes e inexplicáveis. Sobrecarregada pelos horrores crescentes e pelas pressões da fama.</p>
        </div>
       </div>

       <div class="card2">

        <img class="img-cards" src="../../assets/Movies Posters/maxxxine.jpg" alt="">

        <div>
          <h1>Maxxxine</h1>
          <p>Na década de 1980, em Hollywood, a estrela do cinema pornográfico Maxine Minx tem sua grande chance de atingir o estrelato.No entanto, um misterioso assassino persegue as celebridades de Los Angeles.</p>
        </div>

       </div>

       <div class="card2">
        <img class="img-cards" src="../../assets/Movies Posters/Pearl.jpg" alt="">

        <div>
          <h1>Pearl</h1>
          <p>Presa em uma fazenda isolada, Pearl deve cuidar de seu pai doente sob a vigilância de sua mãe. Desejando a vida glamouroso que ela viu nos filmes, as tentações e repressões de Pearl colidem.</p>
        </div>
       </div>

       <div class="card2">
        <img class="img-cards" src="../../assets/Movies Posters/A noiva do chucky.jpg" alt="">

        <div>
          <h1>A Noiva do chucky</h1>
          <p>Tiffany consegue resgatar os restos de Chucky que estavam sendo guardados como evidência policial, e com agulha e uma caixa de pedaços de bonecas velhas consegue refazê-lo.</p>
        </div>

       </div>

       <div class="card2">
        <img class="img-cards" src="../../assets/Movies Posters/Terrifier 3.jpg" alt="">

       <div>
        <h1>Terrifier 3</h1>
        <p>Após sobreviver ao massacre de Halloween do Palhaço Art, Sienna e seu irmão lutam para reconstruir suas vidas despedaçadas.</p>
       </div>

       </div>

     </div>


   <h1 class="color">Comédia</h1>

     <div class="container2">

       <div class="card2">

        <img class="img-cards" src="../../assets/Movies Posters/Pai em dose dupla 2.jpg" alt="">

        <div>
          <h1>Pai em dose dupla 2</h1>
          <p>Após resolverem suas diferenças, Brad e Dusty precisam agora lidar com uma nova situação: a súbita aparição de seus pais</p>
        </div>

       </div>

       <div class="card2">
        <img class="img-cards" src="../../assets/Movies Posters/meu malvado favorito 4.webp" alt="">

        <div>
          <h1>Meu malvado favorito 4</h1>
          <p>Gru dá as boas-vindas a um novo membro da família, Gru Jr., que pretende atormentar seu pai.</p>
        </div>
       </div>

       <div class="card2">
        <img class="img-cards" src="../../assets/Movies Posters/Beetlejuice.webp" alt="">
        <div>
          <h1>Beetlejuice</h1>
          <p>Retornamos à casa em Winter River, onde três gerações da família Deetz se unem após uma tragédia familiar inesperada.</p>
        </div>
       </div>


       <div class="card2">
        <img class="img-cards" src="../../assets/Movies Posters/amigos-imaginarios.jpg" alt="">

        <div>
          <h1>Amigos imaginarios</h1>
          <p>Depois de descobrir que pode ver os amigos imaginários de todos, uma garota embarca em uma aventura mágica para reconectar amigos imaginários esquecidos.</p>
        </div>
       </div>

       <div class="card2">
        <img class="img-cards" src="../../assets/Movies Posters/o menu.jpg" alt="">

        <div>
          <h1>O menu</h1>
          <p>Um jovem casal visita um restaurante exclusivo em uma ilha remota onde o aclamado chef prepara um delicioso menu e algumas surpresas chocantes.</p>
        </div>
       </div>

       <div class="card2">
        <img class="img-cards" src="../../assets/Movies Posters/saltburn.webp" alt="">

        <div>
          <h1>Saltburn</h1>
          <p>Felix Catton convida seu amigo Oliver Quick para passar as férias de verão na mansão de sua família, na região de Saltburn.</p>
        </div>
       </div>
     </div>

  </div>
</section>

<div class="contato">
<div class="container">
  <h2>Entre em contato conosco</h2>
  <form>
    <input type="text" placeholder="Seu nome">
    <input type="email" placeholder="Seu email">
    <input class="texto" type="text">
    <button type="submit">Enviar</button>
  </form>
</div>

<div class="info-container">
  <div class="info">
    <img class="icons" src="../../assets/marcador.png" alt="">
    <p><b>Nosso Escritório Principal</b><br>Soho 94 Broadway St<br>New York, NY 1001</p>
  </div>
  <div class="info">
    <img class="icons" src="../../assets/chamada-telefonica.png" alt="">
    <p><b>Número de Telefone</b><br>234-9876-5400<br>888-0123-4567 <b>(ligação gratuita)</b></p>
  </div>
  <div class="info">
    <img class="icons" src="../../assets/fax.png" alt="">
    <p><b>Fax</b><br>1-234-567-8900</p>
  </div>
  <div class="info">
    <img class="icons" src="../../assets/envelope.png" alt="">
    <p><b>O Email</b><br>chuufilmes(a)hotmail.com</p>
  </div>
</div>
</div>

